config SHIELD_FURLUKEEB_DONGLE
    def_bool $(shields_list_contains,FurluKeeb_dongle)

config SHIELD_FURLUKEEB_LEFT
    def_bool $(shields_list_contains,FurluKeeb_left)

config SHIELD_FURLUKEEB_RIGHT
    def_bool $(shields_list_contains,FurluKeeb_right)